<phpunit bootstrap="./bootstrap.php">
<!--
	<testsuite name="Application Test Suite">
        <directory>../src/lib/application</directory>
    </testsuite>
    <testsuite name="Library Test Suite">
        <directory>../src/lib/library</directory>
    </testsuite>
-->
	<testsuites>
		<testsuite name="Ab">
			<file>Ab_DeviceTest.php</file>
		</testsuite>
	</testsuites>
<!--
    <filter>
        <whitelist>
            <directory suffix=".php">../src/lib/library/Zend</directory>
        </whitelist>
    </filter>
-->
</phpunit>

