option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: testKeyPairEB
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-9955b6f1
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-5254b73a
  - namespace: aws:ec2:vpc
    option_name: DBSubnets
    value: subnet-5254b73a,subnet-2654b74e
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-7454b71c
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-654d5509
  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerHTTPPort
    value: 80
  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerPortProtocol 
    value: HTTP
  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerHTTPSPort
    value: 443
  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerSSLPortProtocol
    value: HTTPS
  - namespace: aws:elb:loadbalancer
    option_name: SSLCertificateId
    value: arn:aws:iam::808884026524:server-certificate/hogehoge.jp
  - namespace: aws:rds:dbinstance
    option_name: MultiAZDatabase
    value: true

